header {
    background-color: white;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 3px solid green;
    font-size: 30px;
}



body {
    margin: 0;
    padding: 0;
    background-color: green;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.container {
    padding: 15px;
}

.submit-btn {
    margin: 25px;

}

.btn {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;


}

.begin-btn {
    font-size: 35px;
    font-weight: 600;
}


.btn:hover {
    color: red;
    border-color: red;
    background-color: black;

}

.hide {
    display: none;
}

.score {

    font-size: 60px;
}